<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <!--
 Eng Mubiru Code note ,please copy this copy from my notes and paste here 
connectionStrings and name use any = (MtnAppConnString) or maintain it for codes
 and change database =mtn
 -->
  <connectionStrings>
    <add name="MtnAppConnString" connectionString="server=127.0.0.1;User 
ID=root;Password=;Database=mtn;"
    providerName="MySqlData.MySqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
 
  
</configuration>